{% extends "inventory/base.html" %}
{% load static %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="page-wrapper">
        <div class="content">

            <div class="page-header">
                <div class="page-title">
                    <h4>Extra Sale</h4>
                    <h6>Create New Sale</h6>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <!-- Product Code -->
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Product Name</label>
                                <input type="text" name="product" class="form-control" required>
                                {% if form.errors.product %}
                                    <small class="text-danger">{{ form.errors.product.0 }}</small>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Quantity -->
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Quantity Sold</label>
                                <input type="number" name="quantity_sold" class="form-control" required>
                                {% if form.errors.quantity_sold %}
                                    <small class="text-danger">{{ form.errors.quantity_sold.0 }}</small>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Product Price -->
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Price</label>
                                <input type="number" name="price" step="0.01" class="form-control" required>
                                {% if form.errors.price %}
                                    <small class="text-danger">{{ form.errors.price.0 }}</small>
                                {% endif %}
                            </div>
                        </div>


                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Selling Price</label>
                                <input type="number" name="selling_price" step="0.01" class="form-control" required>
                                {% if form.errors.selling_price %}
                                    <small class="text-danger">{{ form.errors.selling_price.0 }}</small>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Product Date -->
                        

                        <!-- Submit / Cancel -->
                        <div class="col-lg-12 mt-3">
                            <button type="submit" class="btn btn-submit me-2">Submit</button>
                            <a href="{% url 'display_extra_profit' %}" class="btn btn-cancel">Cancel</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



{% endblock %}


